<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dam.favorloop">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FavorLoop">
        <activity
            android:name=".AboutUsActivity"
            android:label="Sobre FavorLoop"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".MisEventos"
            android:label="Mis Eventos"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MisLoops"
            android:label="Mis Loops"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MiPerfilActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".EditarPerfil"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CommentActivity"
            android:label="Comentarios"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PerfilesActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EventoDetail"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LoopDetail"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SignUpActivity"
            android:theme="@style/Theme.FavorLoopNoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.FavorLoopNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.FavorLoopNoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.FavorLoopNoActionBar" />
        <activity
            android:name=".IntroActivity"
            android:theme="@style/Theme.FavorLoopNoActionBar" />
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>